# Node.js
node_modules/

# React
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Java
*.class
*.jar
*.war

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# JetBrains
.idea/

# Eclipse
.classpath
.project
.settings/

# Compiled binary
*.exe
*.out
*.dll
*.so
*.dylib

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# Dependency directories
bin/
lib/
vendor/

# Operating System Files
Thumbs.db
.DS_Store

# Package files
*.npmrc
yarn.lock
package-lock.json