@import url('https://fonts.googleapis.com/css2?family=Hind&family=Josefin+Sans:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'hind', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
:root{
  --orange:#e76f51;
  --light-orange:#e76f51;
  --yellow:#e9c46a;
  --cyan:#2a9d8f;
  --dark-cyan:#264653;
  --black:rgb(40, 40, 40);
  --white:rgb(255, 255, 255);
  --ff: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--ff);
}
#root{
  display: grid;
  place-items: center;
}
main{
  width: calc(100% - 30px);
  min-height: calc(100vh - 79px);
  position: relative;
  padding: 15px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
.nav{
  width: calc(100% - 30px);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  background-color: white;
}
.logo{
  display: flex;
  align-items: center;
}


.nav-title{
  z-index: 1;
  font-size: 2rem;
  text-transform: capitalize;
}
.hero-section{
  height: calc(90vh - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
}
.hero-img{
  width: 40%;
  max-width: 700px;
  margin: 0 auto;
}
.log{
  background-color: var(--yellow);
  font-size: 1.1rem;
  padding: 7px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.full{
  width: 100%;
}
.login-div{
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:30px;
}
.hero-desc{
  font-size: 1.1rem;
  text-align: center;
}
.light{
  font-family: var(--ff);
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.3rem;
}
.bold{
  font-family: var(--ff);
  font-weight: 700;
  font-size: 1.3rem;
}
.hero-form{
  align-self: center;
  width: calc(100% - 60px);
  max-width: 370px;
  padding: 30px 25px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:20px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.form-title{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.4rem;
}
.form-idiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap:3px;
}
label{
  font-weight: 400;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--ff);
}
#uid,#password,#name,#search,#message{
  width:100%;
  border: none;
  font-size: 1rem;
  text-indent: 5px;
  padding: 5px ;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  color: rgba(0,0,0,.8);
}
.error-msg{
  align-self: flex-end;
  font-size: .7rem;
  color: var(--light-orange);
  font-weight: 700;
  font-family: var(--ff);
}



.dashboard{
  padding-top: 6px;
  width: 100%;
  display: flex;
  gap:7px;
}
.message-user,.user-conversation{
  width: 50%;
  padding: 5px;
}
.user-conversation{
  overflow-y: scroll;
}
.search-div{
  background-color: rgba(0,0,0,.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:10px;
  border-radius: 8px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#search{
  width: calc(100% - 10px);
  font-family: var(--ff);
  font-size: 1.2rem;
  min-width: 350px;
  padding: 5px 10px;
  min-width: 10px;
}
.each-users{
  width: calc(100% - 40px); 
  display: flex;
  align-items: center;
  gap:8px;
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 6px;
  position: relative;
  top: 0;
  transition: all 100ms linear;
}

.eu-img{
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--white);
}
.name-id{
  display: flex;
  flex-direction: column;
}
.eu-name{
  font-size: .8rem;
  opacity: .8;
}
.eu-id{
  font-family: var(--ff);
  font-size: 1rem;
  text-transform: uppercase;
}
.add{
  margin-left: auto ;
  padding: 8px;
  background-color: var(--yellow);
  border: none;
  display: grid;
  place-items: center;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  font-size: 1.1rem;
  font-family: var(--ff);
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.user-profile{
  display: flex;
  align-items: center;
  gap:10px;
  align-self: flex-start;
  margin-bottom: 10px;
}
.pro-img{
  background-color: var(--white);
}
.pro-name{
  font-family: var(--ff);
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pro-id{
  color: white;
  opacity: .7;
  font-size: .9rem;
}
.user-friend-list{
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 20px;
}
.list{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}
.each-friend{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.line{
  align-self: flex-end;
  width: calc(100% - 68px);
  height: 1px;
  background-color: var(--black);
  opacity: .2;
}
.online-img{
  border-color: var(--cyan);
  border-width: 4px;
}
.status-content{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.status{
  text-transform: uppercase;
  font-family: var(--ff);
  font-size: .7rem;
  font-weight: 500;
}
.on-status{
  color: var(--cyan);
}
.off-status,.status-time{
  opacity: .5;
  font-size: .7rem;
  text-align: right;
}
.stat{
  margin-top: 5px;
  font-weight: 600;
}
.stat2{
  text-align: start;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}
.message-user,.user-conversation{
  width: 50%;
  padding: 0;
  position: relative;
}
.user-conversation{
  height: calc(100vh - 87px);
}
.message-user{
  background-image: url('https://i.redd.it/qwd83nc4xxf41.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav2{
  width: calc(100% - 30px);
  background-color: rgb(75, 75, 75);
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  gap:10px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav2 >.user-profile{
  margin: 0;
}
.back{
  background-color: transparent;
  border: none;
}
.send-message{
  width: calc(100% - 30px);
  display: flex;
  gap:15px;
  padding: 10px 15px;
}
#message{
  min-width: none;
  font-family: var(--ff);
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}
.message-box{
  padding: 10px 20px;
  padding-top: 80px;
  max-height: calc(100vh - 250px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:3px;
}


.msg{
  margin-bottom: 7px;
  max-width: 80%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.7);
  font-family: var(--ff);
  font-size: 1.1rem;
}
.my-msg{
  align-self: flex-end;
  background-color: rgba(232, 196, 104,.8);
}

.send-msg{
  width: 50px;
  height: 45px;
  background-color: var(--yellow);
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: grid;
  place-items: center;
  border-radius: 4px;
}
.opac{
  align-self: center;
  opacity: .5;
  font-weight: 600;
}

@media(width < 900px){
  .dashboard{
    display: flex;
    flex-direction: column-reverse;
  }
  .message-user{
    position: fixed;
    top: 70px;
    left: 100%;
    transition: all 100ms linear;
    z-index: 3;
  }
  .message-user,.user-conversation{
    width: calc(100% - 30px);
    height: calc(100vh - 90px);
  }
  .top-0{
    left: 15px;
  }
}
@media(width<650px){
  .hero-section{
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-img{
    margin-top: 60%;
  }
  .hero-img,.login-div{
    width: 100%;
  }
  .hero-form{
    margin-bottom: 20px;
  }
}
@media(width < 450px){
  .nav-title{
    font-size: 1.5rem;
  }
  .log{
    padding: 4px 15px;
    font-size: 1rem;
  }
  .pro-id,.eu-name,.id2{
    font-size: .7rem;
  }
  .pro-name,.eu-ids,.name2{
    font-size: .9rem;
  }
  .status,.status-time{
    font-size: .6rem;
  }
  .msg{
    font-size: .9rem;
  }
}